@tailwind base;
@tailwind components;
@tailwind utilities;

/*THIS WAS PRELOADED IN GLOBALS, I JUST CHANGED FONT FAMILY*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}
/*THIS WAS PRELOADED IN GLOBALS, I JUST CHANGED FONT FAMILY*/
