@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF5FE;
  --foreground: #171717;
  --font-default: 'Times New Roman', Times, serif;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 1000ms ease-in-out, color 1000ms ease-in-out
}

.dev-mode {
  background-color: #000000 ;
  color: #86efac ;
}

@keyframes swipeColor {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.animate-gradient {
  animation: swipeColor 3s linear infinite;
}

/* Ensure the editor content adapts to dark mode */
.dark .ql-editor {
  color: white !important;
  background-color: transparent !important;
}

/* Ensure paragraphs and spans inside Quill are also white */
.dark .ql-editor p,
.dark .ql-editor span {
  color: white !important;
}
