@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*THIS WAS PRELOADED IN GLOBALS, I JUST CHANGED FONT FAMILY*/
:root {
  /* --background: #ffffff; */
  --background: #FFF5FE;
  --foreground: #171717;
  --font-default: 'Times New Roman', Times, serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 1000ms ease-in-out, color 1000ms ease-in-out
}

.dev-mode {
  background-color: black ;
  color: #86efac ;
}

/*THIS WAS PRELOADED IN GLOBALS, I JUST CHANGED FONT FAMILY*/
